@viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

body {
    background-color: lightsteelblue;
    font-family: 'Times New Roman', Times, serif;
  }

  a:link, a:visited {
    background-color:dimgrey;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover {
    background-color:slategray;
    
  }

  img {
    width:100%;
  }

  #submit {
    background-color:dimgrey;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  #submit:hover {
    background-color:slategray;
   }

#social-links:link, #social-links:visited {
  background-color:dimgrey;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#backbutton {
  background-color:dimgrey;
  color: white;
  padding: 7px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#backbutton:hover {
  background-color:slategray;
}
