@viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

body {
    background-color: lightsteelblue;
  }

  a:link, a:visited #submit {
    background-color:dimgrey;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover #submit:hover {
    background-color:slategray;
  }

  img {
    width:100%;
  }
